@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
*{
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

html{
  overflow-y: hidden;
}

:root{
  --accent-color: #fb0032;
}

body{
  background-color: #0a0c0e;
}
a{
  color: inherit;
}
a{
  cursor: pointer;
}

#thefile {
  position: fixed;
  opacity: 0;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  z-index: 100;
}
  
#canvas {
  position: fixed;
  left: 0;
  bottom: 10.5em;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background-color: #0a0c0e; */
}
  
audio {
  z-index: 102;
  outline: none;
  position: fixed;
  user-select: none;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}


.drop_content{
  transition: opacity 150ms linear;
  opacity: 0;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.drop_content > h1{
  font-family: 'Permanent Marker', cursive;
  position: inherit;
  width: 100%;
  font-size: 250%;
  text-align: center;
  top: 50%;
  color: #fff;
}
.drop_content > .background{
  background-color: #0d0e106e;
  width: 100%;
  height: 100%;
}

.cover{
  transition: opacity 125ms linear;
  height: 100%;
  width: auto;
}

#player{
  background-color: #11141a;
  color: white;
  width: 100%;
  height: 10em;
  display: flex;
  position: fixed;
  z-index: 105;
  bottom: 0;
}
ul{
  padding-left: .5em;
}

.player_artist, .player_genre, .player_title{
  transition: opacity 150ms ease;
}

.player_title{
  cursor: pointer;
  padding-top: .25em;
  font-size: 175%;
}
.player_title, .player_artist{
  transition: color 100ms linear, opacity 150ms ease;
}
.player_title:hover, .player_artist:hover{
  color: #b9bcce;
}

.player_artist{
  cursor: pointer;
  padding-top: .25em;
  font-size: 100%;
}
.player_genre{
  font-size: 80%;
}
.player_origin{
  font-size: 100%;
}

.player_current{
  transition: height 125ms ease;
  position: fixed;
  left: 0;
  bottom: 10em;
  width: 100%;
  height: .5em;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
}
.player_current::-webkit-progress-value{
  background-color: var(--accent-color);

  transition: width 125ms ease;
}

.progress_not_seeking::-webkit-progress-value{
  transition: width 1s linear;
}

.player_current::-webkit-progress-bar{
  background-color: #06080a;
}


.volume{
  position: fixed;
  display: flex;
  bottom: 4.5em;
  right: 1em;
}

.volume > input{
  margin-right: 1em;
  width: 5em;
}
.volume > a{
  margin-right: 6em;
}

.player_current:hover{
  height: 1em;
}



input[type=range] {
  -webkit-appearance: none;
  background: none;
  width: 5em;
  margin: 10px 0;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #2b333b;
  border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--accent-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #475461;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #2b333b;
  border-radius: 25px;
}
input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--accent-color);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  transition: background-color 125ms ease;
  background-color: #0f1215;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  transition: background-color 125ms ease;
  background-color: #2b333b;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--accent-color);
  cursor: pointer;
  height: 6px;
}
input[type=range]:focus::-ms-fill-lower {
  background-color: #2b333b;
}
input[type=range]:focus::-ms-fill-upper {
  background-color: #475461;
}
input[type=range]:hover::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--accent-color);
  cursor: pointer;
  height: 6px;
}

.player_pause > i{
  cursor: pointer;
}

.player_pause{
  transition: padding 125ms cubic-bezier(1, 1.43, 0, 0.88), border 125ms cubic-bezier(1, 1.43, 0, 0.88), bottom 125ms cubic-bezier(1, 1.43, 0, 0.88), left 125ms cubic-bezier(1, 1.43, 0, 0.88);
  cursor: pointer;
  position: fixed;
  left: 49%;
  bottom: 1em;
  padding: .75em;
  border: .1em solid #fff;
  border-radius: 100px;
  font-size: 200%;
}

.player_pause:hover{
  left: 48.75%;
  bottom: .85em;
  padding: .8em;
  border: .2em solid var(--accent-color);
}

.loader_container{
  transition: opacity 250ms ease;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.background_image{
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -25%;
  background-position: 0 50%;
  background-size: 100% auto;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-color: #0a0c0e;
}
.background_img_container{
  overflow: hidden;
  width: 100%;
  height: 100%;
  filter: blur(25px) brightness(.25);
}

.shitpost{
  filter: saturate(100) contrast(23) blur(10px) brightness(25) brightness(.2);
}

.duration{
  position: fixed;
  bottom: 8em;
  right: 1em;
  color: white;
  z-index: 9999;
}
 

.lds-facebook {
  display: inline-block;
  position: fixed;
  top: 35%;
  left: 45%;
  width: 15em;
  height: 15em;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 1em;
  width: 3em;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 1em;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 4.5em;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 8em;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 2.5em;
    height: 10em;
  }
  50%, 100% {
    top: 0em;
    height: 15em;
  }
}
